.formContainer {
    background-color: black; /*********Original: Light Blue*********/
    padding: 90px 70px;
    border-radius: 5px;
    width: 89vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputGroup {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}

.label {
    color: white; /********Original: Black**********/
    margin-right: 10px;
    width: 100px;
    flex-shrink: 0;
}

.hiddenTitle {
    visibility: hidden;
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  
  .h2Style {
    font-size: xx-large;
  }

.input,
.textarea {
    flex-grow: 1;
    padding: 10px;
    color: white; /********Original: Black**********/
    background-color: black; /*******Original: Light Blue***********/
    border: 2px solid white; /*********Original: Dark Blue*********/
    border-radius: 5px;
    width: calc(100% - 110px); /* Subtract label width and its margin */
}

.textarea {
    resize: vertical;
    min-height: 100px;
}

.submitButton {
    color: white;
    background-color: black; /******************/
    border: 2px solid white; /**********Original: Dark Blue********/
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    width: 200px;
    align-self: center;
    font-size: 16px;
}

.submitButton:hover {
    color: black; /******************/
    background-color: white; /******************/
    border-color: black; /******************/
}