@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black; /******************/
    color: white;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}



.navlink {
    color: white;
    margin-left: 1rem;
    text-decoration: none;
    transition: all 0.3s ease;
    padding: 0.5rem 1rem; /* Add padding to create a box around the text */
    display: inline-block; /* This is needed to add padding */
}

.navlink:hover {
    color: black; /******************/
    background-color: white;
    font-weight: bold;
}

.navlink:hover, .active {
    color: black; /******************/
    background-color: white;
}

.active {
    color: black; /******************/
    background-color: white;
    font-weight: bold;
    margin-left: 1rem;
    text-decoration: none;
    transition: all 0.3s ease;
    padding: 0.5rem 1rem; /* Add padding to create a box around the text */
    display: inline-block; /* This is needed to add padding */
}

.links {
    display: flex;
}

.hamburger {
    display: none; /* hide by default */
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger > div {
    width: 25px;
    height: 3px;
    background: white;
}

.mobileNav {
    position: absolute;
    top: 60px; /* adjust this based on your navbar height */
    left: 0;
    width: 100%;
    background-color: black;
    text-align: center;
    padding: 10px 0;
}

/* Media Query for Smaller Screens */
@media screen and (max-width: 900px) {
    .links {
        display: none; /* hide regular links */
    }

    .hamburger {
        display: flex; /* show hamburger menu */
    }
}

